body{
    margin: 0;
    display: grid;
    grid-template-areas:
            'logo main'
            'menu main';
    grid-template-columns: 20vw auto;
    grid-template-rows: 12vw calc(100vh - 12vw);
}

.button{
    border: none;
    font-family: Arial;
    font-size: 1.7vw;
}

.button:hover{
    cursor: pointer;
}

#logoBlock{
    width: 100%;
    height: 100%;
    background-color: rgb(113, 122, 70);
    text-align: center;
    justify-content: space-between;
    display: grid;
    grid-area: logo;
}

#leftBlock{
    width: 20vw;
    height: 100%;
    background-color: rgb(113, 122, 70);
    text-align: center;
    display: grid;
    grid-area: menu;
}

.leftButton{
    width: 100%;
    height: 70px;
    background-color: rgb(172, 188, 141);
    color: rgb(113, 122, 70);
}


.leftButton:hover {
    background-color: rgb(113, 122, 70);
    color: rgb(172, 188, 141);
}

#logo{
    width: 100%;
}

#mainBlock{
    background-color: rgb(172, 188, 141);
    text-align: center;
    grid-area: main;
}